html,body{height: 100%;}
body{}
/*====定义swiper大小====*/
		.swiper-container {
            max-width: 768px;
            height: 100%;
            font-size: 0.5rem;
        }
/*====动画第一页====*/
#div1{width: 100%;height: 100%;background:url(../images/1.jpg) no-repeat center;
background-size: 100% 100%;}
.img-one{width: 100%;height: 100%;position: relative;overflow: hidden;}
/*====音乐标签====*/ 
.music{position: absolute;right: 2%;top: 2%;width:50px;height: 50px;-webkit-border-radius: 50%;background-color: red;
z-index: 99;} 
#mydiv{width: 40px;height: 40px;background: url(../images/034.jpg) no-repeat center;
-webkit-animation: fir 4.2s linear infinite;
-webkit-animation-play-state:running;
-webkit-background-size:cover;border-radius: 50%;margin: 5px;}
@-webkit-keyframes fir{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes fir1{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(0deg)}
}
/*====向上箭头标签====*/ 
.topdiv{width: 100%;height: 10%;position: absolute;bottom: 10px;left: 0;opacity: 0;
-webkit-animation: firm 2.2s linear 2s infinite;z-index: 99;}
.topdiv-wrap{width: 50px;height: 50px;background:url(../images/arrow418.png) no-repeat center;
margin: 0 auto;}
@-webkit-keyframes firm{
	0%{-webkit-transform:translateY(10px);opacity: 0;}
	100%{-webkit-transform:translateY(-20px);opacity: 1;}
}
/*====内容主题标签====*/
.content-wrap{width: 90%;height: 50%;margin:0 auto;}
.img-one .content{width: 280px;height: 280px;background-color: green;position: relative;top: 45%;
border-radius: 50%;margin: 0 auto;opacity: .8;overflow: hidden;}
.img-one .content p{text-align: center;height: 30%;padding-top: 30%;font-size: .6rem;
color: yellow;font-weight: 900;text-indent: 5px;}

/*初始化 */
.img-one .content .content-p1 span{-webkit-transform:translateY(-220px);opacity:0;}

.img-one .content .content-p1 span:nth-child(1){-webkit-animation:mov 1s ease 0ms normal forwards;}
.img-one .content .content-p1 span:nth-child(2){-webkit-animation:mov 1s ease 200ms normal forwards;}
.img-one .content .content-p1 span:nth-child(3){-webkit-animation:mov 1s ease 400ms normal forwards;}
.img-one .content .content-p1 span:nth-child(4){-webkit-animation:mov 1s ease 600ms normal forwards;}
.img-one .content .content-p1 span:nth-child(5){-webkit-animation:mov 1s ease 800ms normal forwards;}
.img-one .content .content-p1 span:nth-child(6){-webkit-animation:mov 1s ease 1000ms normal forwards;}
@-webkit-keyframes mov{
	0%{-webkit-transform:translateY(-220px);opacity:0;}
	100%{-webkit-transform:translateY(0px);opacity:1;}
	}
.content .sz{text-align: center;color: white;font-weight: bolder;
	opacity:0;-webkit-animation:mov1 1s ease 2s normal forwards;font-size: .5rem;}
@-webkit-keyframes mov1{
	0%{-webkit-transform:translateX(-220px);opacity:0;}
	100%{-webkit-transform:translateX(0px);opacity:1;}
	}

.img-one .content1{width: 90%;height: 30%;background-color: red;position: relative;top: -55%;
border-radius: 50%;margin: 0 auto;background:url(../images/arrow421.png) no-repeat center;
-webkit-animation: mov2 25s linear infinite;}
@-webkit-keyframes mov2{
	0%{-webkit-transform:translateX(0px);}
	30%{-webkit-transform:translateX(250px);}
	50%{-webkit-transform:translateX(0px);}
	70%{-webkit-transform:translateX(-250px);}
	100%{-webkit-transform:translateX(0px);}
}

/*====动画第二页====*/
#div2{width: 100%;height: 100%;background:url(../images/bg.jpg) no-repeat center;background-size: 100% 100%;}
.anima-two{width: 100%;height: 100%;overflow: hidden;}
/*====向上箭头标签====*/ 
.topdiv1{width: 100%;height: 10%;position: absolute;bottom: 10px;left: 0;opacity: 0;
-webkit-animation: firm1 2.2s linear 4.5s infinite;z-index: 99;}
.topdiv-wrap1{width: 50px;height: 50px;background:url(../images/arrow418.png) no-repeat center;
margin: 0 auto;}
@-webkit-keyframes firm1{
	0%{-webkit-transform:translateY(10px);opacity: 0;}
	100%{-webkit-transform:translateY(-20px);opacity: 1;}
}
/*====动画第二页-文字====*/
.anima-two p:nth-of-type(1){width: 150px;height: 150px;border: 5px solid white;margin:0px auto;margin-top: 10%;
	text-align:center;line-height:150px;font-size: .4rem;font-weight: 900;border-radius: 50%;
	border-top:5px solid green;}
.anima-two .myP{-webkit-animation: mov3 2s linear normal;
animation-fill-mode: backwards;}
@-webkit-keyframes mov3{
	0%   {color: red;-webkit-transform:rotate(0deg)}
	25%  {color: yellow;-webkit-transform:rotate(120deg)}
	50%  {color: black;-webkit-transform:rotate(240deg)}
	100% {color: white;-webkit-transform:rotate(360deg)}
}
.anima-two .myp2{font-size: .6rem;color: red;text-align:center;font-weight: 900;margin-top: 10%;}
.anima-two .myp2 span:nth-child(1){opacity:0;-webkit-animation:move1 2.0s ease 2000ms normal forwards;}
.anima-two .myp2 span:nth-child(2){opacity:0;-webkit-animation:move1 2.0s ease 2100ms normal forwards;}
.anima-two .myp2 span:nth-child(3){opacity:0;-webkit-animation:move1 2.0s ease 2200ms normal forwards;}
.anima-two .myp2 span:nth-child(4){opacity:0;-webkit-animation:move1 2.0s ease 2300ms normal forwards;}
.anima-two .myp2 span:nth-child(5){opacity:0;-webkit-animation:move1 2.0s ease 2400ms normal forwards;}
.anima-two .myp2 span:nth-child(6){opacity:0;-webkit-animation:move1 2.0s ease 2500ms normal forwards;}
@-webkit-keyframes move1{
	0%{opacity:0;}
	100%{opacity:1;}
	}
/*====动画第二页-图片====*/
.anima-two .word-img{width: 60%;height: 40%;margin:0px auto;background-color: red;margin-top: 5%;
-webkit-animation: mov4 2s linear 2.5s 1 normal forwards;opacity: 0;}
@-webkit-keyframes mov4{
	0%   {-webkit-transform:skewX(45deg);opacity: 0;}
	100% {-webkit-transform:skewX(0deg);opacity: 1;}
}
.anima-two .word-img img{width: 100%;height: 100%;}


/*====动画第三页====*/
#div3{width: 100%;height: 100%;background:url(../images/threebg.jpg) no-repeat center;background-size: 100% 100%;}
.anima-three{width: 100%;height: 100%;overflow: hidden;}
/*====向上箭头标签====*/ 
.topdiv2{width: 100%;height: 10%;position: absolute;bottom: 10px;left: 0;opacity: 0;
-webkit-animation: firm2 2.2s linear 3.5s infinite;z-index: 99;}
.topdiv-wrap2{width: 50px;height: 50px;background:url(../images/arrow418.png) no-repeat center;
margin: 0 auto;}
@-webkit-keyframes firm2{
	0%{-webkit-transform:translateY(10px);opacity: 0;}
	100%{-webkit-transform:translateY(-20px);opacity: 1;}
}
.spinner{width: 150px;height: 150px;position: relative;
  margin: 5% auto;text-align:center;color: black;
font-size: .5rem;font-weight: 900;}
  .double-bounce1{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #67CF22;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  line-height:100px;
  -webkit-animation: bounce 10.0s infinite ease-in-out;
}
 .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #67CF22;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  line-height:100px;
  -webkit-animation: bounce 10.0s infinite 8s ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -9.0s;
  line-height:200px;
}
.double-bounce1 {
  -webkit-animation-delay: -4.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}



.spinner1 {
  margin: 10px auto;
  width: 90%;
  height: 90%;
  position: relative;
  overflow: hidden;
}
 
.spinner1 div {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 8%;
  left: 2%;
  -webkit-animation: cubemove 3.6s 1 ease-in-out;
  -webkit-animation-play-state:running;
}
.spinner1 div img{width: 90%;height: 50%;} 

.spinner1 div:nth-of-type(2) {
  -webkit-animation-delay: -0.9s;
  top: 8%;
  left:50%;
}
.spinner1 div:nth-of-type(3) {
  -webkit-animation-delay: -2.7s;
  top:35.5%;
  left:2%;
}
.spinner1 div:nth-of-type(4) {
  -webkit-animation-delay: -1.8s;
  top:35.5%;
  left:50%;
}
 
@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(12px) rotate(-90deg) scale(0.1) }
  50% { -webkit-transform: translateX(12px) translateY(12px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(12px) rotate(-270deg) scale(0.1) }
  100% { -webkit-transform: rotate(-360deg) }
}
 
/*====动画第四页====*/
#div4{width: 100%;height: 100%;background:url(../images/fourbg.jpg) no-repeat center;background-size: 100% 100%;}
.anima-four{width: 100%;height: 100%;overflow: hidden;}
/*====向上箭头标签====*/ 
.topdiv3{width: 100%;height: 10%;position: absolute;bottom: 0px;left: 0;opacity: 0;
-webkit-animation: firm3 2.2s linear 3.5s infinite;z-index: 99;}
.topdiv-wrap3{width: 50px;height: 50px;background:url(../images/arrow418.png) no-repeat center;
margin: 0 auto;}
@-webkit-keyframes firm3{
	0%{-webkit-transform:translateY(0px);opacity: 0;}
	100%{-webkit-transform:translateY(-10px);opacity: 1;}
}
.anima-four p:nth-of-type(1){width: 90%;height: 10%;margin:15% auto;text-align: center;color: white;margin-bottom: 0;}
.anima-four p:nth-of-type(1) span{margin-left: -1.8%;font-size: .35rem;}
.font-P span:nth-child(1){-webkit-animation:fontcolor 2.5s ease 0ms infinite;}
.font-P span:nth-child(2){-webkit-animation:fontcolor 2.5s ease 200ms infinite;}
.font-P span:nth-child(3){-webkit-animation:fontcolor 2.5s ease 400ms infinite;}
.font-P span:nth-child(4){-webkit-animation:fontcolor 2.5s ease 600ms infinite;}
.font-P span:nth-child(5){-webkit-animation:fontcolor 2.5s ease 800ms infinite;}
.font-P span:nth-child(6){-webkit-animation:fontcolor 2.5s ease 1000ms infinite;}
.font-P span:nth-child(7){-webkit-animation:fontcolor 2.5s ease 1200ms infinite;}
.font-P span:nth-child(8){-webkit-animation:fontcolor 2.5s ease 1400ms infinite;}
.font-P span:nth-child(9){-webkit-animation:fontcolor 2.5s ease 1600ms infinite;}
.font-P span:nth-child(10){-webkit-animation:fontcolor 2.5s ease 1800ms infinite;}
.font-P span:nth-child(11){-webkit-animation:fontcolor 2.5s ease 2000ms infinite;}
.font-P span:nth-child(12){-webkit-animation:fontcolor 2.5s ease 2200ms infinite;}
.font-P span:nth-child(13){-webkit-animation:fontcolor 2.5s ease 2400ms infinite;}
@-webkit-keyframes fontcolor{
	0%{color: yellow;font-weight: 900;}
	100%{color:black;}
}

.four-img{width: 90%;height: 45%;margin:0 5%;}
/*===球样式====*/
#tagbox{position:relative;margin:0% auto;width:90%;height:100%;background:#3a4954;border-radius: 20px;}
#tagbox a{position:absolute;padding:2px;font-family:Microsoft YaHei;color:#fff;TOP:0px;font-weight:bold;text-decoration:none;left:0px}
#tagbox .a1:hover{border:#eee 1px solid;background:url(../images/four1.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a2:hover{border:#eee 1px solid;background:url(../images/four2.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a3:hover{border:#eee 1px solid;background:url(../images/four3.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a4:hover{border:#eee 1px solid;background:url(../images/four4.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a5:hover{border:#eee 1px solid;background:url(../images/four5.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a6:hover{border:#eee 1px solid;background:url(../images/four6.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a7:hover{border:#eee 1px solid;background:url(../images/four7.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a8:hover{border:#eee 1px solid;background:url(../images/four8.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a9:hover{border:#eee 1px solid;background:url(../images/four9.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a10:hover{border:#eee 1px solid;background:url(../images/four10.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a11:hover{border:#eee 1px solid;background:url(../images/four11.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a12:hover{border:#eee 1px solid;background:url(../images/four12.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a13:hover{border:#eee 1px solid;background:url(../images/four13.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a14:hover{border:#eee 1px solid;background:url(../images/four14.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a15:hover{border:#eee 1px solid;background:url(../images/four15.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a16:hover{border:#eee 1px solid;background:url(../images/four16.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a17:hover{border:#eee 1px solid;background:url(../images/four17.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .a18:hover{border:#eee 1px solid;background:url(../images/four18.png) no-repeat center;display: inline-block;
	width: 60px;height: 50px;color: black;}
#tagbox .blue{color:blue}
#tagbox .red{color:red}
#tagbox .yellow{color:yellow}

.four-txt{background-color: gray;width: 90%;height: 24%;margin:0 auto;
	overflow: hidden;
	margin-top:  5%;opacity: .8;
	-webkit-animation:fontcolor1 2s ease-in-out 0s backwards;
	border-radius: 15px;
	position: fixed;
	left: 5%;
}
.four-txt p:nth-of-type(1){font-size: .28rem;color: yellow;line-height: 25px;margin-top: 200px;opacity: 0;
-webkit-animation:fontcolor2 2s ease-in-out 2s forwards;}

@-webkit-keyframes fontcolor1{
	0%{opacity: 0;}
	100%{opacity: .8;}
}
@-webkit-keyframes fontcolor2{
	0%{margin-top: 200px;opacity: 0;}
	100%{margin-top: 0px;opacity: 1;}
}

/*====动画第五页====*/
#div5{background:url(../images/fivebg.jpg) no-repeat center;
background-size: 100% 100%;}
.anima-five{width: 100%;height: 100%;}
.anima-five-a{width: 100%;height: 25%;margin-top: 5%;border-top:1px solid black;}
.anima-five-a .anima-five-ap{line-height: 60px;width: 60%;margin-left: -60%;
-webkit-animation:fontcolor3 2s ease-in 0s forwards;font-weight: 900;
font-size: .4rem;
}
@-webkit-keyframes fontcolor3{
	0%{margin: 0 -60%;color: black;}
	50%{margin: 0 40%;color: black;}
	100%{margin: 0 20%;color: yellow;}
}
.anima-five-form{width: 100%;opacity: 0;-webkit-animation:fontcolor4 2s ease-in 2s forwards;}
.anima-five-form input{display:block;border: 0;border: 1px solid green;width: 80%;height: 50px;margin: 10px auto;
border-radius: 10px;}
@-webkit-keyframes fontcolor4{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.anima-five-code{width: 80%;height: 160%;margin:0 10%;opacity: 0;
-webkit-animation:fontcolor5 2s ease-in 3s forwards;position: relative;
}
.anima-five-code img{width: 100%;height: 100%;}
@-webkit-keyframes fontcolor5{
	0%{-webkit-transform:scale(0.1);opacity: 0;}
	100%{-webkit-transform:scale(1);opacity: 1;}
}
.anima-five-form .sbm{background-color: green;color: white;}
.head-div{position: absolute;left: 70%;bottom: 26%;width: 40px;height: 55px;
-webkit-animation:fontcolor6 2s ease-in-out 7s infinite;}
.head-div img{width: 100%;height: 100%;}
@-webkit-keyframes fontcolor6{
	0%{bottom: 26%;}
	100%{bottom: 50%;}
}