@import "../../lib/element/yo-loading";

%fixedMenu {
  width: 100%;
  height: .4rem;
  border-bottom: .01rem solid #EFEFF4;
  background-color: #fff;
  ul{
    width: 1.8rem;
    height: .4rem;
    @include flexbox();
    li{
      @include flex();
      text-align: center;
      line-height: .4rem;
      font-size: .16rem;
      span{
          display: inline-block;
          height: .34rem;
          color: rgba(0,0,0,0.5);
        &.active{
          border-bottom: .03rem solid yellow;
          color: black;
          font-weight: 600;
        }
      }
    }
  }
}
.m-index-container {
  position: relative;
  header{
    width: 100%;
    height: .44rem;
    background-color: #FFE500;
    ul{
      width: 100%;
      height: .44rem;
      @include flexbox();
      li:not(:nth-child(2)){
        width: .44rem;
        text-align: center;
        line-height: .44rem;
        font-size: .15rem;
        color: #360302;
        font-weight: bold;
      }
      li:nth-child(2){
        @include flex();
        text-align: center;
        line-height: .44rem;
        font-size: .2rem;
        color: #360302;
        font-weight: bold;
      }
    }
  }
  .scroll-div{
    //@include flex();
    width: 100%;
    //height: 667px-93px;//bug
    height: 100%;
    #pic-swiper{
      height: auto;
      width: 100%;
    }
  nav{
    width: 100%;
    background: #fff;
    //height: 2.68rem;
    height: auto;
    p{
      width: 100%;
      //height: 2.17rem;
      border-bottom: .08rem solid #EFEFF4;
      img{
        width: 100%;
      }
    }
    .fixedMenu{
      @extend %fixedMenu;


      }
  }
/*.swiper-slide{
  height: auto!important;
}*/
#home-hot-swiper {
         width: 100%;
         height: 100%;
       }
  section{
    width: 100%;
    background: #fff;
    //overflow: hidden;
    ul:nth-of-type(1){
      width:100%;
      height:.6rem;
      @include flexbox();
      li:not(:nth-child(1)){
        @include flex();
        @include flexbox();
      }
        li:nth-child(1){
          @include flex();
          @include flexbox();
          i{
            display:inline-block;
            text-indent:.16rem;
            padding-top: .11rem;
          }
          b{
          display:inline-block;
          font-size:.14rem;
          @include flex();
          padding-top: .14rem;
          padding-left: .07rem;
          color: #212121;

          }
        }
        li:nth-child(3){
          @include flexbox();
          i{
            display:inline-block;
            padding-top: .13rem;
          }
          b{
            display:inline-block;
            font-size: .16rem;
            padding-top: .13rem;
            text-indent: .09rem;
            span{
              color: #FF4F4F;
            }
          }
        }
    }
    h3{
      height: .32rem;
      font-size: 16px;
      padding-top: 5px;
      text-indent: .16rem;
      white-space: nowrap;
      overflow: hidden;
      width: 95%;
      text-overflow: ellipsis;
    }
    p{
      height: .9rem;
      background: #F9F9F9;
      line-height: .3rem;
      font-size: .14rem;
      color: rgba(0,0,0,0.6);
      padding-left: .16rem;
      padding-right: .23rem;
      overflow: hidden;
    }
    ul:nth-of-type(2){
      width: 100%;
      height: .46rem;
      border-bottom: .1rem solid #EFEFF4;
      @include flexbox();
      li{
        @include flex();
        text-align: center;
        line-height: .46rem;
        i{
          color: #B0B0B0;
          display: inline-block;
          font-size:.14rem;
        }
        b{
          display: inline-block;
          font-size: .1rem;
          color: #B0B0B0;

        }
      }
      li:nth-of-type(4){
        color: #FDD217;
        font-size: .16rem;
      }
      li:nth-of-type(5){
        font-size: .12rem;
        color: #949494;
      }
      span{
        line-height: .46rem;
        color: #EDEDF3;
      }
    }
}
              // pull to refresh
              .head {
                  margin-top: .05rem;
                  text-align: center;
              }
              .head img {
                  height: .16rem;
                  width: .16rem;
                  display: inline-block;
                  transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                  transition: transform 150ms;
                  -webkit-transition: transform 150ms;
              }
              .up {
                  transform: rotate(360deg) !important;
                  -webkit-transform: rotate(360deg) !important;
              }
              .foot {
                  text-align: center;
                  margin: .05rem 0;
              }
              .foot img {
                  height: .16rem;
                  width: .16rem;
                  display: inline-block;
                  /*transform: rotate(0deg);*/
                  /*-webkit-transform: rotate(0deg);*/
                  transition: transform 150ms;
                  -webkit-transition: transform 150ms;
              }
              .down {
                  transform: rotate(180deg) !important;
                  -webkit-transform: rotate(180deg) !important;
              }

}
}
#m-index-container {
  > spa-view {
    > .fixedMenu{
      @extend %fixedMenu;
      position: fixed;
      z-index: 999;
      top: .40rem;
    }
  }
}
